# Archiso sources and build artifacts
/archiso/upstream/*
!/archiso/upstream/README.md
/archiso/out/
/archiso/work/
/archiso/localrepo/*
!/archiso/localrepo/README.md
/archiso/*.iso
/archiso/*.img
/archiso/*.img.sig
/archiso/*.iso.sig
