[Desktop Entry]
Version=1.0
Name=Fizzy
Comment=Fizzy
Exec=solace-launch-webapp https://app.fizzy.do/
Terminal=false
Type=Application
Icon=/home/givan1435/.local/share/applications/icons/Fizzy.png
StartupNotify=true
