[Desktop Entry]
Version=1.0
Name=GitHub
Comment=GitHub
Exec=solace-launch-webapp https://github.com/
Terminal=false
Type=Application
Icon=/home/givan1435/.local/share/applications/icons/GitHub.png
StartupNotify=true
