[Desktop Entry]
Version=1.0
Name=HEY
Comment=HEY
Exec=solace-webapp-handler-hey %u
Terminal=false
Type=Application
Icon=/home/givan1435/.local/share/applications/icons/HEY.png
StartupNotify=true
MimeType=x-scheme-handler/mailto
