[Desktop Entry]
Type=Application
Name=Ableton Live 12 Suite
MimeType=application/x-wine-extension-auz;
Exec=env "WINEPREFIX=/home/givan1435/.wine" wine start /ProgIDOpen "Ableton.Live.AppLiveSuite.auz.12" %f
NoDisplay=true
StartupNotify=true
Icon=7CC2_Ableton Live 12 Suite.0
