[Desktop Entry]
Type=Application
Name=Ableton Live 12 Suite
MimeType=x-scheme-handler/ableton;
Exec=env "WINEPREFIX=/home/givan1435/.wine" wine start %u
NoDisplay=true
StartupNotify=true
Icon=7CC2_Ableton Live 12 Suite.0
