@define-color bg #00020a;
@define-color fg #ffffff;
@define-color gray1 #458d59;
@define-color gray2 #54565a;
@define-color gray3 #3b6aa5;
@define-color gray4 #749951;
@define-color gray5 #7b5daf;
@define-color fg_bright #ffffff;

window {
    background-color: @bg;
    border: 2px solid @gray3;
}

input {
    background-color: @bg;
    color: @fg;
    border: 1px solid @gray2;
}

input:selected {
    background-color: @gray1;
    color: @fg_bright;
}

#entry {
    color: @fg;
    background-color: @bg;
    padding: 5px;
    margin: 2px;
}

#entry:selected {
    background-color: @gray1;
    color: @fg_bright;
}

scrollbar {
    background-color: @bg;
}

scrollbar slider {
    background-color: @gray2;
    border-radius: 5px;
}

scrollbar slider:hover {
    background-color: @gray3;
}